<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="z-index: 2;">

  <div class="container">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/public">Public</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/private">Private</a>
    </li>

  </ul>

  <ul class="nav ml-auto">
    <ng-container *ngIf="!authService.estaLogueado(); else login">
      <li class="nav-item">
        <a class="nav-link" routerLink="/registro">Registrarme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ng-container>
    <ng-template #login>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Salir</a>
      </li>
    </ng-template>
  </ul>

</div>

</nav>
  